/*  面包屑样式  */
.breadcrumb>li+li:before{
    content: "\003e";
}
.breadcrumb_wrap{
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    background: #f6f6f6;
}
.breadcrumb{
    padding: 0;
    background: transparent;
}

/*  panel-default样式修改  */
.panel-default{
    margin: 20px;
    border-top: 4px solid #007acf;
}

/*  table 面板  */

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}

.fixed-table-pagination{
    padding: 0 10px;
}

