html, body{
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover, a:focus{
    color: #000;
    text-decoration: none;
}


/*  wrapper控制版心  */
.wrapper{
    width: 100%;
    min-width: 1280px;
    height: 100%;
    overflow: auto;
    position: relative;
}
/*   头部   */
.header{
    height: 80px;
    background: #007acf;
    color: #fff;
}
.header_brand{
    position: relative;
    height: 80px;
    padding-left: 20px;
    line-height: 80px;
    font-size: 28px;
    color: #fff;
}
.header_brand a{ display: block; width: auto; color: #fff; font-size: 30px; padding: 0 10px; font-family: 'BMWGlobal_bold_0'; }
.brand_wrap{
    position: absolute;
    left: 30px;
    top: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #075f9c;
    border-radius: 50%;
}
.brand_wrap .brand{
    margin: 10px 11px;
}

.header_nav{
    border-left: 1px solid #1796ee;
}
.header_nav > li{
    border-right: 1px solid #1796ee;
}
.header_nav > li > a{
    width: 136px;
    padding: 12px 0;
    border-radius: 0;
}
.header_nav > li > a > p{
    text-align: center;
    color: #fff;
}
.header_nav > li > a > p.icon_wrap{
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
}
.header_nav > li > a > p.icon_wrap > i{
    font-size: 28px;
}
.header_nav > li > a > p.text_wrap{
    height: 14px;
    line-height: 14px;
}

.header_nav > li.active > a, .header_nav > li.active > a:hover, .header_nav > li > a:hover, .header_nav > li > a:focus, .header_nav .open > a, .header_nav .open > a:hover, .header_nav .open > a:focus{
    background: #075f9c;
    border: none;
}
.header_nav > li + li{
    margin-left: 0;
}
.dropdown-menu{
    left: auto;
    right: 0;
}

.main{
    height: calc(100% - 120px);
}


/*  身体部分 */
/*  用来控制footer  */
.main_wrap{
    position: relative;
    height: calc(100% - 120px);
}

.main_wrap .main_left{
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 100%;
    box-sizing: border-box;
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    overflow: auto;
}
#sideNav{
    margin-bottom: 0;
}
#sideNav .panel{
    margin: 0;
    border: none;
}
#sideNav .panel-heading{
    padding: 0;
    border-bottom: 1px solid #ccc;
}
#sideNav .panel-heading > a{
    display: block;
    padding: 10px 10px 10px 20px;
    background: #007acf;
    font-size: 16px;
    color: #fff;
}
#sideNav .submenu a{
    display: block;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
#sideNav .panel-heading > a.active, #sideNav .panel-heading > a:hover{
    background: #409eff;
}
#sideNav .submenu a.active, #sideNav .submenu a:hover{
    background: #f5f5f5;
}


    /*  右侧内容区  */
.main_right{
    width: 100%;
    height: 100%;
    padding-left: 210px;
}


/*  footer  */
.footer{
    height: 40px;
    background: #f8f8f8;
    line-height: 40px;
    text-align: center;
}



